<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="base.js"></script>
    <script src="actions.js"></script>
    <script src="hero.js"></script>
    <script src="physics.js"></script>
    <script type="module" src="client.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<canvas id="canvas"></canvas>
<a href="#" class="ui-button">Menu</a>
</body>

