script(src='/heroes.js')
body
    h1 Welcome to Dark Age, #{name}.
    if heroes.length == 0
        h2 Create your hero and play.
    else
        h2 Select or create your hero to play.
        ul
            each hero, ix in heroes
                - let url = '/index?hero=' + hero.id  // + 'nonce=' + nonce
                li: a(href=url) #{hero.name}  -  Race: #{hero.race}

    form(method='POST' action='/createHero')
        //- label(for='hero name') hero name
        input(id='heroName', placeholder='Enter your hero name', name='heroName')
        //- label(for='hero race') 
        input(placeholder='Race', id='race', name='heroRace')
        button(type='submit') Play

    if errors
        p #{errors}
     
    if anon
        h3 Already have an account? 
            a(href='/login') Log in.
    else 
        h4 
            a(href='/logout') Log out.
        