html, body { 
    /* fullsize */
    margin: 0;
    padding: 0;
}

#c {
    /* position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; */
    display: block;
}

.ui-button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50px;
    top: 50px;
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(#1879BD 50%, #084D79 50%);
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    display: none;
}
.ui-button:hover {
    background: linear-gradient(#678834 50%, #093905 50%);
}
.ui-button:active {
    background: linear-gradient(#EB7723 50%, #A80000 50%);
}